* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(88, 88, 88);
  padding: 40px;
}

.singleVideo {
  border: 1px solid red;
  border-radius: 16px;
  padding: 24px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}